
{% load crispy_forms_tags %}

{% block content %}
<form enctype="multipart/form-data" method="post">

    {% csrf_token %}

                {% for field in formularionoticia %}
                <div style="text-align: left;">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
     
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar informacion">
    <a class="btn btn-primary" href="{% url 'inicio' %}" role="button">Atras</a>
</form> 

{% endblock %}