{% extends "base.html" %}   

{% block titulo %} Lista de actividades {% endblock %}

{% block contenido %} 
<br>
<div class="card">
    <div class="card-header">
        Listado de las actividades por publicar
    </div>
    <div class="card-body">
        <h4 class="card-title">Proyectos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo </th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Accion</th>

                    </tr>
                </thead>    
                <tbody>
                {% for proyecto in proyectos %}
                    <tr class="">
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.TipoProyecto }}</td>
                        <td>{{ proyecto.Descripcion }}</td>
                        <td> <img src="{{ proyecto.Imagen.url}}" height="100"/></td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editarproyecto' proyecto.id %}" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarproyecto' proyecto.id %}" role="button">Borrar</a></td>
                        
                            

                           
                    </tr>
                    
                      
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-success" href="{% url 'proyectos' %}" role="button">Crear proyecto</a>
        <a class="btn btn-primary" href="{% url 'inicio' %}" role="button">Atras</a>
        



        
    </div>
   
</div>

{% endblock %}
