{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in formulariodocumentos %}
                        <div style="text-align: left;">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}

                    <div style="text-align: left;">
                        <button type="submit" class="btn btn-success">Subir Documento</button>
                        <a class="btn btn-primary" href="{% url 'inicio' %}" role="button">Atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}